body {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(68, 64, 60);
}

.text-yellow {
  color: rgb(234 179 8);
}

button {
  font-family: Roboto Mono, monospace;
  border: 0;
  padding: 10px 15px;
  background-color: rgb(234, 179, 8);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgb(231 229 228);
}

input:focus {
  outline: 1px solid rgb(234, 179, 8);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  color: rgb(68, 64, 60);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 179, 8);
  padding: 15px 20px;
}

.content {
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.sub-title {
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* pizza menu */
.pizza {
  display: flex;
  gap: 16px;
  padding: 8px 0;
}

.pizza__image {
  width: 100px;
  height: 100px;
}

.pizza__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pizza__name {
  font-weight: 500;
}

.pizza__ingredients {
  font-style: italic;
  margin-bottom: 10px;
}

.pizza__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.pizza__price {
  font-size: 14px;
}
.pizza_soldOut {
  color: red;
}

ul {
  list-style-position: inside;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
}
.pizza_menu button:first-child {
  margin: 0 auto;
  display: block;
}
.pizzaCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pizzaCounter button {
  margin-right: 5px;
}
.pizza_list {
  margin: 20px 40px;
}
.pizza_list li {
  padding: 10px;
  border: 1px solid lightgray;
  margin-bottom: 5px;
  border-radius: 5px;
}
.pizza_list select {
  margin-bottom: 10px;
}
.page_not_found {
  height: 50vh;
  background: black;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
}
.loginForm > * {
  margin-bottom: 20px;
}

.navPanel {
  display: flex;
  justify-content: center;
}
.navPanel > * {
  text-decoration: none;
  margin-right: 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
}
.navPanel > *:hover {
  background: rgb(250, 250, 127);
}
.active {
  outline: 1px solid rgb(102, 78, 4);
}
/*popUp*/
.popUp {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: red;
  z-index: 100;
  background: lightyellow;
  position: absolute;
}

.errorMessage {
  border: 1px solid red;
  color: red;
  font-size: 12px;
  font-weight: bold;
  width: max-content;
  margin-top: -20px;
}
.wpapperFormInfoUser{display: flex;
  justify-content: center;

}
.userInfoFrom{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}
.userInfoFrom input{
  margin-bottom: 15px;
}